<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to Text Analyzer</h1>
<form action="analyze/" method="get">
    <textarea name='text' style="margin: 0px; width: 568px; height: 154px;"></textarea><br>
    <input type="checkbox" name="punc">Remove Punctuations<br>
    <input type="checkbox" name="uppercase">UpperCase<br>
    <input type="checkbox" name="removenewline">Remove New Line<br>
    <input type="checkbox" name="removeextraspace">Remove Extra Space<br>
    <input type="checkbox" name="count">Count<br>
    <br>
    <button type="submit">analyze</button>
</form>

</body>
</html>